name: release
on:
  # Enable manual triggering of the workflow
  workflow_dispatch:
  push:
    tags:
      - 'v*'  # This will trigger on tags starting with 'v', e.g., 'v1.0.0'
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set_version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y gettext-base sqlite3
      - name: Get major, minor and patch version
        run: |
          # Check if the workflow is triggered by a tag; if not, get the latest tag
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            # Remove the 'v' prefix and split the version string into components
            version="${GITHUB_REF#refs/tags/v}"
          else
            # Fetch tags and get the latest one
            git fetch --tags
            version=$(git describe --tags $(git rev-list --tags --max-count=1))
            version="${version#v}"  # Remove 'v' prefix if the tag has it
          fi

          echo "Version: $version"
          # Extract major, minor, and patch versions
          IFS='.' read -r MAJOR_VERSION MINOR_VERSION PATCH_VERSION <<< "$version"
          # Output the results
          echo "Major version: $MAJOR_VERSION"
          echo "Minor version: $MINOR_VERSION"
          echo "Patch version: $PATCH_VERSION"
          
          echo "MAJOR_VERSION=$MAJOR_VERSION" >> $GITHUB_ENV
          echo "MINOR_VERSION=$MINOR_VERSION" >> $GITHUB_ENV
          echo "PATCH_VERSION=$PATCH_VERSION" >> $GITHUB_ENV
          echo "VERSION=$version" >> $GITHUB_ENV
      - name: Output the version
        id: set_version
        run: |
          export VERSION
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
      # Write version file
      - name: Write version file
        id: version_file
        run: |
          # Export variables for envsubst
          export MAJOR_VERSION MINOR_VERSION PATCH_VERSION
          envsubst < version_file.txt > version_file.tmp && mv version_file.tmp version_file.txt
          cat version_file.txt
      # Create release notes
      - name: Create release notes
        id: release_note
        run: |
          # Export variables for envsubst
          export MAJOR_VERSION MINOR_VERSION PATCH_VERSION
          envsubst < release_notes.md > release_notes.tmp && mv release_notes.tmp release_notes.md
          cat release_notes.md
      # Create sqlite database
      - name: Create sqlite database
        run: sqlite3 sap.db < src/sap.sql
      - name: Upload files as artifact
        uses: actions/upload-artifact@v4
        with:
          name: docfiles
          path: |
            version_file.txt
            release_notes.md
            sap.db
  build:
    needs: setup
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download files as artifact
        uses: actions/download-artifact@v4
        with:
          name: docfiles
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      # Lint with pylint
      #- name: Lint with pylint
      #  run: |
      #    pylint main.py
      # Test with pytest
      #- name: Test with pytest
      #  run: |
      #    pytest test_sap.py
      # Build executable
      - name: Build with pyinstaller
        run: |
          cd src
          pyinstaller -n sap --icon ../appicon.ico --version-file ../version_file.txt --distpath ../dist --onefile main.py
          cd ..
      # Compress executable
      - name: compress executable
        run: |
          Compress-Archive -Path ("dist/sap.exe", "src/sap.conf", "src/sap.path", "sap.db", "src/fileDialog.vbs", "src/erroDialog.vbs") -DestinationPath "dist/sap.zip"
      # Generate SHA256 checksum
      - name: Generate SHA256 checksum
        run: |
          Get-FileHash "dist/sap.zip" -Algorithm SHA256 | ForEach-Object { $_.Hash } | Out-File -FilePath "dist/sap.zip.sha256sum"
          echo "SHA_WIN64_ZIP=$(Get-Content dist/sap.zip.sha256sum)" >> $GITHUB_ENV
      - name: Upload files as artifact
        uses: actions/upload-artifact@v4
        with:
          name: selected-files
          path: |
            dist/sap.zip
            dist/sap.zip.sha256sum

  publish:
    runs-on: ubuntu-latest
    needs: [setup, build]
    env:
      GH_TOKEN: ${{ github.token }}
      H_REPO: ${{ github.repository }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download release note as artifact
        uses: actions/download-artifact@v4
        with:
          name: docfiles
      - name: Download build files as artifact
        uses: actions/download-artifact@v4
        with:
          name: selected-files
          path: |
            ./dist/
      # Create a release on GitHub
      - name: Create Release
        run: |
          # Export variables for gh cli
          export "TAG_NAME=v${{ needs.setup.outputs.VERSION }}"
          gh release create $TAG_NAME --verify-tag --notes-file release_notes.md --title "SAP_BOT release" dist/sap.zip#sap.zip dist/sap.zip.sha256sum#sap.zip.sha256sum
